.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
/docs/log/*.log
/docs/tmp/**
/docs/node_modules/
/docs/.sass-cache
/docs/css/reveal.min.css
/docs/js/reveal.min.js
/ansible/clouds.yaml
/ansible/roles
/ansible/clouddev.retry
/ansible/login.sh
/ansible/znc.retry
/ansible/vaultpass
/ansible/venv
